{% extends "blog/post_list.html" %}

{% load staticfiles %}

{% block main_content %}
	<div class="container">
		<div class="row">

			<div class="col-md-8 blog-main">
				{% if form.errors %}
					<br>
					<p>{{ form.errors }}</p>
				{% endif %}
			</div>

			<div class="col-md-8 blog-main">
				<form action="{% url 'blog:register' %}" method="POST" role="form" class="form-horizontal">
					<fieldset>
						<legend>Регистрация:</legend>
						{% csrf_token %}
							<div class="form-group">
								<label for="username" class="col-sm-4 control-label">Username:</label>
								<div class="col-sm-6">
									<input class="form-control" id="username" placeholder="Username" name="username" 
									value="{{ form.username.value|default:'' }}">
								</div>
							</div>

							<div class="form-group">
								<label for="inputPassword1" class="col-sm-4 control-label">Password:</label>
								<div class="col-sm-6">
									<input type="password" class="form-control" id="inputPassword1" name="password1" placeholder="Password"
									value="{{ form.password1.value|default:'' }}">
								</div>
							</div>

							<div class="form-group">
								<label for="inputPassword2" class="col-sm-4 control-label">Password once again:</label>
								<div class="col-sm-6">
									<input type="password" class="form-control" id="inputPassword2" name="password2" placeholder="Password"
									value="{{ form.password2.value|default:'' }}">
								</div>
							</div>

							<input type="hidden" name="next" value="{{ form.next.value }}" />
							<input class="btn btn-default" type="submit" value="Войти">
					</fieldset>
				</form>
			</div>

		</div>
	</div>
{% endblock %}